.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-list {
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.app-logo {
    width: 35px;
    height: 35px;
}
.logo-text {
    font-size: 25px;
    line-height: 47.56px;
    color: #7E22CE;
    margin: 0px;
}
.nav-icons {
    width: 30px;
}